.signin-linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;

  margin: auto;
  margin-top: 18px;

  font: 400 13.3333px Arial;
}

.signin-link {
  text-decoration: none;
  color: #7159c1 !important;
  transition: all 300ms;
}

.signin-link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
/*----------------Animation Setup-------------*/
form {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  overflow: hidden;
}
/*child 1 do form*/
form .input-block:nth-child(1) {
  animation: move 300ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards; /*posição iniial*/
}

/*child 2 do form*/
form .input-block:nth-child(2) {
  animation: move 300ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

form .input-block:nth-child(3) {
  animation: move 300ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 300ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

form .signin-linkContainer {
  animation: move 300ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

/* Quando clicar no botão, sumir com o form */
.form-hide {
  animation: down 800ms forwards;
}

/* FORM Denied */
form.validation-error {
  animation: denied 200ms linear, fadeIn paused;
  animation-iteration-count: 2;
}

@media (min-width: 700px) {
  .signin-linkContainer {
    font-size: 18px !important;
  }
}
